<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.progdeelite.dca">

    <queries>
        <package android:name="com.progdeelite.dca" />
    </queries>

    <!-- VÍDEO SOLICITANDO PERMISSÕES: https://youtu.be/grYUKZDTzVA -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- VÍDEO CELULAR TEM INTERNET: https://youtu.be/DpyxLwibE0M -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- VÍDEO VIBRANDO O CELULAR: https://youtu.be/ogxgiaCq_24 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- VÍDEO BIOMETRY: -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <!-- VÍDEO LOGCAT E TIMBER(.MainApplication): https://youtu.be/rz8O8V4Ho1M -->
    <!-- VÍDEO SPLASH SCREEN: XXXXXXXX -->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashScreen">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>